name: WorldData
on: push

jobs:
  build:
    name: Build JAR with Maven
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build with Maven
        run: mvn clean package

      - name: Upload JAR artifact
        uses: actions/upload-artifact@v4
        with:
          name: app-jar
          path: target/WorldStatistics-0.0.1-jar-with-dependencies.jar

  docker:
    name: Build Docker Image
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Download JAR artifact
        uses: actions/download-artifact@v4
        with:
          name: app-jar
          path: .

      - name: Rename JAR
        run: |
          mkdir -p target
          mv WorldStatistics-0.0.1-jar-with-dependencies.jar target/app.jar

      - name: List files (debug step)
        run: ls -R

      - name: Build Docker image
        run: docker build -t population-report-app .

      - name: Test Docker image
        run: docker run --rm population-report-app




